html
   body
      h1 gym bud hello
      form
         input (type="email", placeholder="email here yo")
         input (type="password", placeholder="password here yo")
         input (type="button", value="enter it yo")
