html
   body

      h1 gymbud home 

      if currentUser 
         if currentUser.isAdmin
            p Logged in as: #{currentUser.name} (#{currentUser.email}, isAdmin) 
         else 
            p Logged in as: #{currentUser.name} (#{currentUser.email}) 
         a(href="/logout") logout
         br
      else
         a(href="/login") login
         br
         a(href="/register") register



