html
   body
      h1 gym bud login
      if errors 
         ul
            each error in errors
               li=error.message

      br
      a(href="/") home
      br

      form(action="/login" method="post") 
         input(type="text" name="email" value=email || '' placeholder="email") 
         br
         input(type="password" name="password" placeholder="password")
         br
         input(type="submit" value="log in")

