html
   body
      h1 gym bud new organization 
      if errors 
         ul
            each error in errors
               li=error.message

      br
      a(href="/") home
      br
      form(action="/organization" method="post") 
         input(type="text" name="name" value=organizationName || '' placeholder="email") 
         br
         input(type="text" name="urlName" placeholder="organization url")
         br
         input(type="submit" value="create")
