html
   body
      h1 gym bud register 
      if errors 
         ul
            each error in errors
               li=error.message

      br
      a(href="/") home
      br

      form(action="/register" method="post") 
         input(type="text" name="email" value=email || '' placeholder="email") 
         br
         input(type="password" name="password" placeholder="password")
         br
         input(type="text" name="name" value=fname || '' placeholder="name") 
         br
         input(type="submit" value="register")
