html
   body
      h1 gym bud register 
      if error 
         p=error

      br
      a(href="/") home
      br

      form(action="/register" method="post") 
         input(type="text" name="email" value=email || '' placeholder="email") 
         br
         input(type="password" name="password" placeholder="password")
         br
         input(type="text" name="firstName" value=firstName || '' placeholder="first name") 
         br
         input(type="text" name="lastName" value=lastName || '' placeholder="last name") 
         br
         input(type="submit" value="register")
