html
   body
      h1 a secret place 
      if user
         p=user.email
            a(href="/logout") logout
      else
         p You are not logged in
            a(href="/login") login
         | here
