extends ../layout.jade

block title
   title gym-bud registration

block content 
   h1 gym-bud registration 
   form(action="/register" method="post") 
      input(type="text" name="email" value=email || '' placeholder="email") 
      br
      input(type="password" name="password" placeholder="password")
      br
      input(type="text" name="name" value=name || '' placeholder="name") 
      br
      input(type="submit" value="register")
